<template name="Home">
  <div class="container">
    <div class="col-md-4">
      <div class="well">
        <h1>Students</h1>
        <p>Create a profile and connect with other students.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well">
        <h1>Buy Orders</h1>
        <p>Looking for a used book? List it here. We'll help find a seller.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well">
        <h1>Matches</h1>
        <p>We'll scour our database for potential buyers and sellers.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well">
        <h1>Textbooks</h1>
        <p>View our books. If you don't see what you need, add it!</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well">
        <h1>Sell Orders</h1>
        <p>Got a used textbook to sell? List it here. We'll help find a buyer.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well">
        <h1>Help</h1>
        <p>Got a question about the site?<br> Hopefully we've got answers.</p>
      </div>
    </div>
  </div>
</template>
